@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to</h1>
    <p>
        Nemo IT Solutions
        <a href="https://www.nemo-itsolutions.com/">
            building Web apps with ASP.NET Core
        </a>
        .
    </p>
</div>
